<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653468434039-b05ut55b90ha6o89s1ej4uurctdmoj54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653468434039-b05ut55b90ha6o89s1ej4uurctdmoj54</string>
	<key>API_KEY</key>
	<string>AIzaSyAPvTuweNq1KQjJGaCwUINRk4yt44DkKZI</string>
	<key>GCM_SENDER_ID</key>
	<string>653468434039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>REAL.HourlyHourTracker</string>
	<key>PROJECT_ID</key>
	<string>hourly-1ccd5</string>
	<key>STORAGE_BUCKET</key>
	<string>hourly-1ccd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653468434039:ios:aca2be2180715ee641d072</string>
</dict>
</plist>